.body {
    background-color:lightgray;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;

}

.title {
    padding: 40px;
    font-size: 30px;
    color: lightseagreen;
    margin-left:-3%
}

.title2 {
    padding: 40px;
    font-size: 30px;
    color: lightseagreen;
    margin-left:-5%
}

.paragraphs {
    color: gray;
    font-size: 20px;
}

.navbar-brand {
    background-color: lightseagreen;
    font-size: 30px;
    margin-left: 5%;
}


.col {
    background-color: white;
    padding: 20px;
    position: relative;
    margin-top: 10%;
    margin-left:-10%;

}

.navbar-nav {
    margin-left: 85%
}

img {
    float: left;
    width: 225px;
    height:225px;
    margin: 10px;
}


.col-md-9 {
    background-color: white;
    margin-top: 6%;
    margin-left: -30%;
    margin-right: 5%;
    margin-bottom: 30%;
    width: fit-content;
}

#navbarSupportedContent {
    margin-left: 75%;
}

.col-md-3 {
    background-color: white;
    position: relative;
    margin-top: 5%;
    width: fit-content;
    display: table;
    z-index: 0;
}

.fig {
    width: 200px;
    height:200px;
    margin-left: 7%;
    z-index: 4;
}

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: darkgray;
    text-align: center;
    color: white;
    border-top: 5px solid lightseagreen;
}

.message {
    text-align: center;
    font-size: 15px;
    color: white;
}

html {
    height: 100%;
}

.p1temp {
    padding: 10px;
}

.p2temp {
    padding: 20px;
}
.col-md-auto {
    background-color: white;
    width: 50%;
    margin-bottom: 40%;
    margin-top: 6%;
}

/* Temperature page styles*/
.fig1 {
    width: 800px;
    height:600px;
    display: block;
}

#sect2 {
    background-color: white;
    padding: 20px;
    position: relative;
    margin-top: 5%;
    margin-left:-30%;
    margin-bottom: 30%;
}

#rightcolumn {
    margin-bottom: 50%;
}

.temp {
    margin-bottom: 55%;
}

/* Comparison */

#sect3 {
    background-color: white;
    padding: 10px;
    position: relative;
    margin-top: 10%;
    margin-bottom: 25%;
    text-align: center;
    width: auto;
}

.figure {
    width: 500px;
    height:400px;
    padding: 10px;
}

.comp {
    padding: 30px;
    font-size: 30px;
    color: lightseagreen;
    text-align: left;
}

.headtemp {
    color: lightseagreen;
    text-align: center;
    font-size: 25px;
    margin: -25px;
}

.paragraphcomparison {
    padding: 50px;
}
.data {
    color: lightseagreen;
    font-size: 25px;
    margin-left: -85%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table {
    width: 100%;
    table-layout: fixed;
    padding: 10px;
    position: relative;
    margin-top: 30px;
}

#sectdata {
    background-color: white;
    padding: 30px;
    position: relative;
    margin-top: 10%;
    margin-bottom: 30%;
    text-align: center;
}

td,th {
    overflow:hidden;
    word-wrap: break-word;
}

#temp {
    border: 5px solid;
    border-color: lightseagreen;
}

#humid {
    border: 5px solid;
    border-color: lightseagreen;
}

#cloud {
    border: 5px solid;
    border-color: lightseagreen;
}

#wind {
    border: 5px solid;
    border-color: lightseagreen;
}

#header {
    background-color: whitesmoke;
    padding: 0;
}

@media (max-width: 768px) {
    #header {
        background-color: lightseagreen;
        text-align: left;
    }

    .navbar-brand {
        margin: auto;
    }

    .navbar-collapse {
        background-color: whitesmoke;
        margin-left: 0%;
    }

    #navbarSupportedContent {
        margin-left: auto;
    }
}