/* Index page */

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: lightgray;
  font-size: 1em;
  font-weight: 170;
  line-height: 1.7em;
}
.wrapper {
    position: relative;
    display: block;
}

h2 {
    text-decoration: underline;
}

* {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ml-md-auto {
    margin-left: auto!important;
}


.panel-heading {
    font-size: smaller;
}



.hero {
position: relative;
height: 550px;
padding: 20px;
background: black;
background-image: url("static/fitnesspic.jpg");
background-attachment: fixed;
background-position: bottom center;
background-size: cover;
}

#mypic img {
    position: relative;
    padding: 20px;
    height: 450px;
    width: 500px;

}

#mypic {
    text-align: center;
}

#inline1 {
    border: solid cadetblue;
    border-radius: 1rem;
}

#homepagedesc {
    background-color:whitesmoke;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
}


.navbar {
    background: black;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar-nav {  list-style: none;
}


#projects {
    text-align: center;
    background-color: black;
    color: white;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-align: center;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: relative;
}

img.card-img-top {
    height: 100px;
    width: 250px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card {
    display: contents;
    padding: 1rem;
}

@media (min-width: 576px) {
    .card-deck {
        display: flex;
        flex-flow: row wrap;
        margin: inherit;
    }
}


@media (min-width: 576px) {
    .card-deck .card {
        flex: 1 0 0%;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
    }
}

.fa {
    height: 30px;
    width: 50px;
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: rgba(255,255,255,.85);
}

.bd-navbar .navbar-nav .nav-link:hover {
    color: cadetblue;
    text-decoration: none;
}

.bd-navbar .navbar-nav .nav-link:focus {
    color: cadetblue;
    text-decoration: none;
}


 .navbar-brand  {  
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
 }


#homepagedesc p {
    font-size: large;
    text-align: justify;
}

#footer.row {
    text-align: center;
    width: 100%;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 1rem;
}

.inline-flexbox {
    display: inline-flexbox;
    vertical-align: top;
    position: relative;
    padding: 1rem;
}

#footer {
    padding-top: 20px;
}

.hero h1 {
    font-size: 0.1rem;
    animation: title 1.2s forwards linear;
    color: whitesmoke;
  }

#inline2 {
    background-color: white;
    border: solid cadetblue;
    padding: 15px;
    border-radius: 1rem;
}

.hero p {
    margin-top: 150px;
    font-size: 2rem;
    opacity: 0;
    animation: subtitle 1.2s forwards linear;
    animation-delay: 1.2s;
    color: whitesmoke;
  }


@media (max-width: 768px) {
    #mypic img {
        width: fit-content;
        height: fit-content;
    }
}

@keyframes title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 7.5rem;
      opacity: 1;
    }
  }

  @keyframes subtitle {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


/* For the Caffeine pages */

ul.nav a.nav-link{
    color: cadetblue;
    text-decoration: none;
}

ul.nav a.nav-link:hover{
    background: whitesmoke;
    border-radius: 1rem;
}

ul.nav a.nav-link:focus{
    background: whitesmoke;
    border-radius: 1rem;
}

#collapseExample {
    background: whitesmoke;
    padding: 20px;
    border-radius: 1rem;
}

#dataanalysiscaf {
    background: whitesmoke;
    padding: 20px;
    border-radius: 1rem;
    text-align: center;
}

#energydrinkscomp{
    width: 500px;
    height: 300px;
    position: relative;
}
#codingpic {
    width: 500px;
    height: 300px;
    position: relative;
}

#crossfitpic {
    width: 500px;
    height: 300px;
    position: relative;
}

#crossfit2 {
    width: 500px;
    height: 300px;
    position: relative;
}

.jumbotron {
    text-align: center;
}

#dataanalysiscaf img {
    width: 300px;
    height: 250px;
}

.panel-default>.panel-heading {
    background-color:#337ab7;
    color: whitesmoke;
    border-radius: 1rem;
    border-color: black;

}
.panel.panel-default {
    font-weight: bold;
    font-size: 15px;
    width: max-content;
    height: auto;
    position: relative;
    margin: 0;
    border-radius: 1rem;
    border-color: black;
}

.filter.list-group-item label {
    font-size: smaller;
}

.form-control {
    text-align: center;
}

hr {
    border-top: 3px solid cadetblue;
    margin: 10px;
}

.col-md-2 {
    width: auto;
}
#float {
    float: right;
}

#contents {
    display: contents;
}

.col-md-8 {
    display: contents;
}

.filter.list-group-item {
    border-color: black;
}

.well {
    border-color: black;
}

#listitems {
    text-align: justify;
}

#prod {
    text-align: justify;
}

#color {
    background-color: lightsteelblue;
    border: solid;
}

/* For the Covid page */

#covid1 {
    width: 500px;
    height: 300px;
    position: relative;
}

#covid2 {
    width: 500px;
    height: 300px;
    position: relative;
}

#dataanalysiscovid {
    background: whitesmoke;
    padding: 20px;
    border-radius: 1rem;
    text-align: center;
}

/* Crossfit page */

.tooltip {
    background:red;
    border: solid black;
    padding: 1rem;
    opacity: 20%;
    color: white;
}

#map {
    height: 600px;
    border: solid cadetblue;
}

#athlete-filter {
    border: solid cadetblue;
}
#limitfil {
    border: solid cadetblue;
    display: grid;
    text-align: center;
}
#sample-metadata {
    text-align: center;
}

#namefil {
    display: grid;
}

#scatternames svg {
    background: white;
}

#eventfil {
    display: grid;
}

#yearfil {
    display: grid;
}










